	<!-- Footer -->
<footer class="main-footer">  
        <div>
            <div class="footer-data">
                <p>© 2021 Merca Do Flores. Todos los derechos reservados</p>
            </div>
        </div>
        <div class="social">
            <a class="fa fa-whatsapp" href="https://api.whatsapp.com/send?phone=+54 9 11 5751 1580" target="_blank"></a>
            <a href="https://facebook.com/gzuetta" class="fa fa-facebook"></a>
            <a href="https://twitter.com/javi_frontera" class="fa fa-twitter"></a>
            <a href="https://instagram.com/gianzuetta" class="fa fa-instagram"></a>
        </div>
</footer>
	<!-- /Footer -->