<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">			
			<div id="wrapper">
				<div id="div2">
					<h2>Iniciar sesión</h2>
					<p>Es tu primera vez? <a id="register1" href="/register">Registrate!</a></p>

						<form class="" action="/login" method="POST">

						<li><input type="text" name="email" placeholder="Correo electrónico" value=""></li>

						<li><input type="password" name="password" placeholder="Contraseña" value=""></li>

						<li><input style="font-weight: 400;" type="checkbox" name="rememberme" value="ok">Recordarme</li>

						<li><input type="submit" value="Enviar"></li>

					</form>
				</div>
			</div>	
		</div>			
	</div>			   

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>