<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
				
				<form class="col-12" action="/login" method="POST">

				<p>
				<label for="email"> Email:</label>
				<input type="text" name="email" value="">
				</p>

				<p>
				<label for="password"> Contraseña:</label>
				<input type="password" name="password" value="">
				</p>

				<p>
				<input type="submit" value="Enviar">
				</p>

			   </form>
			   
		</div>
	</div>			   

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>