<span style='font-size:180px; margin: 550px; margin-top: 200px;'>&#9989;</span>
<h1 style="text-align: center; margin-top: 100px;"> Su cuenta se ha creado con éxito </h1>
<h2 style="text-align: center; margin-top: 50px;"> <a href="/"> Volver al menú </a></h2>