<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Rosas Rojas</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail"> 
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/rosasrojas.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Capture su corazón y atención con una o dos docenas de rosas rojas. La vegetación variada de temporada está dispuesta para enmarcar las impresionantes flores rojas. No hay mejor manera de mostrar su amor y afecto que con este ramo floral premium elegantemente arreglado en un hermoso jarrón de vidrio.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/products/persona2.jpeg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html"> Juan Perez: </a> </strong>
								A mi mujer le gustan las rosas, pero veo que estas rosas son rojas, no estoy encontrando en su pagina rosas de color rosa. Me podrian decir donde encontrarlas? gracias
							</p>
							</div>
						</article>
						<article>
							<img src="/images/products/persona1.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Delfina Lopez: </a> </strong>
									El producto es de tremenda calidad! Lastima el vendedor, quien se demoro en despacharlas y ademas no respondia a mis preguntas una vez pague.</p>
							</div>
						</article>
						<article>
							<img src="/images/products/d10s.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Lionel Messi: </a> </strong>
									Estas flores son un 10, como yo. Suerte que está Merca Do Flores en el barrio para salvar mi matrimonio con Anto.

									</p>
							</div>
						</article>
						<article>
							<img src="/images/products/peludo2.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html"> Hagrid:</a> </strong>
									En mi jardín tengo unas parecidas a estas. La calidad es así como se muestra en la foto? O después voy a tener que usar una poción Fertilizante?
								</p>
							</div>
						</article>
						<article>
							<img src="/images/products/kiko.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">KIko Zoona SUUr: </a> </strong>
									AlTas FlooRes Wacchoo! rOJAS como ell amohor de mii vidaa, NEWELLS! no tengO nAda de KE quejarme, sOLO puedO DEcir VAMMMOO NEWELLS!!!!!</p>
							</div>
						</article>

					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>