<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
				
				<form class="col-12" action="/product/store" method="POST">
					
					<p>
					<label for="productName"> Nombre del producto:</label>
					<input type="text" name="productName" value="">
					</p>

					<p>
					<label for="description"> Descripcion:</label>
					<textarea type="text" name="description" value=""></textarea>
					</p>

					<p>
					<label for="imagen"> Imagen del producto:</label>
					<input type="file" name="image" value="">
					</p>

					<p>
					<label for="userId"> Usuario:</label>
					<input type="number" name="userId" value="">
					</p>

					<p>
					<input type="submit" value="Agregar">
					</p>

				</form>

		</div>
	</div>	

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>