<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
				
				<form action="/profile" method="GET">
					
					<p>
					<label for="nombre"> Nombre:</label>
					<input type="text" name="nombre" value="">
					</p>
	
					<p>
					<label for="apellido"> Apellido:</label>
					<input type="text" name="apellido" value="">
					</p>
	
					<p>
					<label for="birthDate"> Fecha de nacimiento:</label>
					<input type="date" name="birthDate" value="">
					</p>
	
					<p>
					<label for="dni"> DNI:</label>
					<input type="text" name="dni" value="">
					</p>
	
					<p>
					<label for="email"> Email:</label>
					<input type="text" name="email" value="">
					</p>
		
					<p>
					<label for="password"> Contraseña:</label>
					<input type="password" name="password" value="">
					</p>
	
					<p>
					<input type="submit" value="Confirmar">
					</p>

				</form>
				
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>