<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body> 

	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">			
			<div id="wrapper">
				<div id="div2">
					<h2>Registrarse</h2>
					<p>¡Es gratis!</p>

					<% if (locals.errors) { %> 

						<p class="errors"> <%= locals.errors.message %> </p>

					<% } %>
					
					<form class="" action="/register/store" method="POST">

						<li><input id="nombre" type="text" name="nombre" placeholder="Nombre" value=""><input id="apellido" type="text" placeholder="Apellidos" name="apellido" value=""></li>
						
						<li><input type="text" placeholder="Correo electrónico" name="email" value=""></li>

						<li><input type="password" placeholder="Contraseña" name="password" value=""></li>
						
						<li><input type="text" placeholder="Número de DNI" name="dni" value=""></li>

						<p>Fecha de nacimiento</p>
						
						<li><input type="date" name="birthDate" value=""></li>
						<br>

						<li><input type="radio" name="genero" value="">Mujer <input type="radio" name="genero" value="">Hombre</li>	

						<li><input type="submit" value="Enviar"></li>

					</form>
				</div>		
			</div>		
		</div>
	</div>
	
	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>