<!DOCTYPE html>
<html lang="es">

	<!-- Head -->
	<%- include('./partials/head') %> 
	<!-- /Head -->

<body>

	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

				<!-- Búsquedas -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "searched" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/17">
						<figure class="product-box_image">
							<img src="images/products/tulipanesmuchos.jpg" alt="flor7">
						</figure>
						<article class="product-box_data">
							<h2>Ramo de tulipanes de primavera</h2>
							<p>¡Nuestro Ramo de tulipanes de primavera es la manera perfecta de celebrar la llegada de la temporada de primavera!</p>
							<p>Comentarios: 14</p>
						</article>
					</a>
				</section>
			</div>
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/13">
						<figure class="product-box_image">
							<img src="images/products/varias.jpg" alt="flor8">
						</figure>
						<article class="product-box_data">
							<h2>Ramo Armonía Floral</h2>
							<p>Nuestro Ramo de Armonía Floral contiene tonos cálidos e intensos</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/18">
						<figure class="product-box_image">
							<img src="images/products/floror.jpg" alt="flor5">
						</figure>
						<article class="product-box_data">
							<h2>Jardinera de orquídeas</h2>
							<p>Una maceta de orquídeas siempre dice mucho. </p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/16">
						<figure class="product-box_image">
							<img src="images/products/ramo1.jpg" alt="flor6">
						</figure>
						<article class="product-box_data">
							<h2>Indulgencia de cumpleaños</h2>
							<p>El Ramo de Indulgencia de Cumpleaños es simplemente el arreglo más festivo que puede enviar.</p>
							<p>Comentarios: 8</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/19">
						<figure class="product-box_image">
							<img src="images/products/florfem.jpg" alt="flor1">
						</figure>
						<article class="product-box_data">
							<h2>Encanto femenino</h2>
							<p>Nuestro ramo de encantos femeninos es una excelente opción para una variedad de ocasiones.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/14">
						<figure class="product-box_image">
							<img src="images/products/florlila.png" alt="flor2">
						</figure>
						<article class="product-box_data">
							<h2>Cunas de Moisés</h2>
							<p>Una planta clásica de lirio de la paz es un regalo apropiado para una variedad de ocasiones.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/15">
						<figure class="product-box_image">
							<img src="images/products/rosasrojas.jpg" alt="flor3">
						</figure>
						<article class="product-box_data">
							<h2>Rosas rojas</h2>
							<p>No importa en qué ocasión, estas rosas dejarán una impresión duradera.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>




			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/20">
						<figure class="product-box_image">
							<img src="images/products/florpym.png" alt="flor4">
						</figure>
						<article class="product-box_data">
							<h2>Ramo de condolencias clásico</h2>
							<p>Los lirios, rosas y claveles blancos brillantes son una muestra perfecta de simpatía.</p>
							<p>Comentarios: 7</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Búsquedas -->

			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			////////////////
			</h2> -->


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>

</html>